# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Edmondo Porcu
#
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features interactive

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers=true

[delta "interactive"]
    side-by-side = true

# Don't want side by side for fzf related scripts
[delta "fzf-preview"]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3

[alias]
    diffs = -c delta.features=side-by-side diff
